* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'TCCC-UnityHeadline';
  src:  url('./fonts/TCCC-UnityHeadline-Bold.woff2') format('woff2'),
        url('./fonts/TCCC-UnityHeadline-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

#app {
  position: relative;
  display:flex;
  justify-content: center;
  z-index: 10;
}

.app-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -10;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.bg {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
}

.bg-blur {
  --blur: 16px;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  filter: brightness(.75);
  -webkit-filter: brightness(.75);

}

.bg-image {
  background-image: url('./images/stadium-outer-cropped.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}

.bg-text {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index:1000;
  color: white;
  font-size:3rem;
}

.app-fg {

  position: fixed;
  inset: 0;
  z-index: 10;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.fg-ui {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

}

.btn {
  appearance: none;
  background: rgb(244,244,244);
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(228,228,228,1) 100%); 
  cursor: pointer;

  font-size: 3rem;
  border-radius: 0.25em;
  border: black solid 0.35rem;
  transition: all 300ms ease-in-out;
  box-shadow: 0.15em 0.15em 0.5em rgba(0,0,0,0.65);
  
  padding: 0.2em 0.4em;
  margin-top: 1em;

  animation: fadeIn 500ms ease-in-out;
}

.btn:hover {
  background: rgb(230,230,230);
  background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(189,189,189,1) 100%); 
}

.font-unity {
  font-family: 'TCCC-UnityHeadline', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* background: rgb(0,10,42); */
  /* background: linear-gradient(180deg, rgba(0,10,42,1) 0%, rgba(75,120,153,1) 34%, rgba(234,236,243,1) 34%, rgba(234,236,243,1) 47.5%, rgba(118,165,98,1) 47.5%, rgba(0,75,27,1) 100%);  */
  /* 

  
  z-index: -1; */